.about-us {
  padding: 105px 0 148px;

  @media ($tablet-max-width) {
    padding: 37px 0 52px;
  }

  @media ($mobile-max-width) {
    padding: 41px 0 70px;
  }
}

.about-us__title {
  margin: 47px 0;

  @media ($tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin: 31px 0;
  }

}

.about-us__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  list-style-type: none;
  counter-reset: counter;
  margin: 0;
  padding: 0 28px;


  @media ($tablet-max-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    padding: 0 82px;
  }

  @media ($mobile-max-width) {
    grid-template-columns: 1fr;
    gap: 37px;
    padding: 0;
  }
}

.about-us__item {
  font-family: inherit;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: $color-basic-black;

  br {
    display: none;
  }

  @media ($tablet-max-width) {
    font-size: 22px;
    letter-spacing: -0.02em;

    br {
      display: block;
    }
  }

  @media ($mobile-max-width) {
    font-size: 18px;


    br {
      display: none;
    }

    &:not(:first-child) {
      margin-bottom: 7px;
    }

    &:not(:first-child):before {
      margin: 0 auto 6px;
    }
  }

  &:before {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27273px;
    width: 40px;
    height: 40px;
    counter-increment: counter;
    content: '0'counter(counter);
    text-align: center;
    color: $color-decoration;
    background: transparent;
    margin: 0 auto 15px;
  }

  &:nth-child(n + 10)::before {
    content: counter(counter);
  }
}
