.intro {
  background-color: $color-dark-background;
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/intro_desktop.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: -63px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/intro_desktop@2x.jpg");
  }

  @media ($tablet-max-width) {
    background: none;
  }
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 317px calc(50% - 440px) 212px;

  @media ($tablet-max-width) {
    flex-direction: column;
    padding: 0;
  }
}

.intro__content {
  width: 45%;

  @media ($tablet-max-width) {
    min-height: 340px;
    width: 100%;
    padding: 122px 21px 61px;

    background-color: $color-dark-background;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url("../img/backgrounds/intro_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/intro_tablet@2x.jpg");
    }
  }

  @media ($mobile-max-width) {
    min-height: 390px;
    padding: 109px 16px 50px;

    background-position: center;
    background-image: url("../img/backgrounds/intro_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/intro_mobile@2x.jpg");
    }
  }
}

.intro__content a {
  @media ($tablet-max-width) {
    display: none;
  }
}

.intro__content img {
  width: 68px;
  height: 21px;
}

.intro__content h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: $color-basic-white;
  margin: 20px 0;

  @media ($tablet-max-width) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.intro__content p {
  display: block;
  font-family: inherit;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: $color-basic-white;
  opacity: 0.8;
  margin: 26px 0;

  @media ($tablet-max-width) {
    font-size: 18px;
    text-align: center;
    margin: 18px 130px;
  }

  @media ($mobile-max-width) {
    margin: 18px 0;
  }
}

.intro__form {
  width: 37%;

  @media ($tablet-max-width) {
    width: 100%;
    margin-top: 70px;
    padding: 0 21px;
  }

  @media ($mobile-max-width) {
    padding: 0 5%;
  }
}
