.video {
  background: linear-gradient(180deg, $color-dark-background 84.5%, transparent 15.5%);

  @media ($tablet-max-width) {
    background: linear-gradient(180deg, $color-dark-background 78%, transparent 22%);
  }

  @media ($mobile-max-width) {
    background: linear-gradient(180deg, $color-dark-background 82.5%, transparent 11.5%);
  }
}

.video__wrapper {
  padding-top: 100px;
  padding-bottom: 32px;

  @media ($tablet-max-width) {
    padding-top: 50px;
  }

  @media ($mobile-max-width) {
    padding-top: 64px;
  }
}

.video__title {
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-basic-white;
  margin: 20px 0;

  @media ($tablet-max-width) {
    font-size: 24px;
  }
}

.video__text {
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-white-opacity-07;
  margin: 20px 0 55px;

  @media ($tablet-max-width) {
    margin: 20px 20% 40px;

    br {
      display: none;
    }
  }

  @media ($mobile-max-width) {
    margin: 20px 0 53px;
  }
}

.video__image-wrapper {
  position: relative;

  @media ($tablet-max-width) {
    margin: 0 112px;
  }

  @media ($mobile-max-width) {
    margin: 0 auto;
  }

  img {
    display: block;
    width: 929px;
    height: 522px;
    margin: 0 auto;

    @media ($tablet-max-width) {
      min-width: 503px;
      min-height: 282px;
      width: 100%;
      height: 100%;
      max-width: 800px;
      max-height: auto;
    }

    @media ($mobile-max-width) {
      min-width: 288px;
      min-height: 162px;
      width: 100%;
      height: 100%;
      max-width: 767px;
      max-height: auto;
    }
  }

  button {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    background-color: $color-decoration;

    @media ($tablet-max-width) {
      width: 91px;
      height: 91px;
    }

    @media ($mobile-max-width) {
      width: 65px;
      height: 65px;
    }

    &:after {
      position: absolute;
      content: "";
      width: 13px;
      height: 18px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 3;
      border-style: solid;
      border-width: 9px 0 9px 13px;
      border-color: transparent transparent transparent $color-button-play;

      @media ($tablet-max-width) {
        width: 18px;
        height: 26px;
        left: 7px;
        border-width: 13px 0 13px 18px;
      }

      @media ($mobile-max-width) {
        width: 13px;
        height: 18px;
        left: 0;
        border-width: 9px 0 9px 13px;
      }
    }

    &:hover,
    &:focus {
      transition: all 0.3s ease;
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
}
