.button {
  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  color: $color-basic-black;
  background-color: $color-decoration;
  padding: 16px 0;

  @media ($mobile-max-width) {
    margin: 0 auto;
  }
}
