.page {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: $color-basic-black;
  background-color: $color-basic-white;
  min-height: 100%;
  min-width: $min-width;
  max-width: $max-width;
}

.page-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.01em;
  text-align: center;
  color: $color-title-black;
}

.display-none {
  display: none;
}

@keyframes down {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}

.main-nav__animation-down {
  animation: down 0.5s;
}
